<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IOcrMapper">

	<!-- 회원 가입하기(회원정보 등록하기) -->
	<insert id="InsertImage" parameterType="OcrDTO">
		INSERT INTO Medicine.MEDINE_TABLE
			(	
				USER_ID,
				SAVE_FILE_NAME,
				SAVE_FILE_PATH,
				SAVE_FOLDER_NAME,
				ORG_FILE_NAME
			)
		VALUES(
				#{user_id},
				#{save_file_name},
				#{save_file_path},
				#{save_folder_name},
				#{org_file_name}
		)
	</insert>
	
	<select id="SelectMD" resultType="OcrDTO">
		SELECT 
			MEDICINE_NO 
		FROM Medicine.MEDINE_TABLE 
		WHERE USER_ID = #{user_id} AND SAVE_FILE_NAME = #{save_file_name} AND ORG_FILE_NAME = #{org_file_name};
	</select>
	
	<update id="InsertMD" parameterType="OcrDTO">
		UPDATE Medicine.MEDINE_TABLE 
			SET 
		MEDICINE_NAME = #{medicine_name} WHERE (MEDICINE_NO = #{medicine_no});
	</update>
	
	<select id="getOcrList" resultType="OcrDTO">
		
		SELECT 
		
			MEDICINE_NO,
			SAVE_FILE_NAME,
			SAVE_FILE_PATH,
			SAVE_FOLDER_NAME,
			ORG_FILE_NAME,
			MEDICINE_NAME
			
		 FROM Medicine.MEDINE_TABLE WHERE MEDICINE_NAME IS NOT NULL;
		
	</select>
	
	
		
</mapper>
